h1 {
    color: green;
    padding: 10px;
}
body {
    font-family: sans-serif;
    text-align: left;
    color: white;
    background-color:#fe938c;
}
a {
    color: white;
    border: 3px solid green;
    text-decoration: none;
    border-radius: 10px;
    padding: 10px;
    margin: 10px;
    font-size: 15px;
    background-color: #4281a4;
    text-align: center;
}

header { 
    background-color: #e6b89c;
    text-align: center;
    

}
footer {
    background-color: #4281a4;
}
main img {
    height: 20px;
}
.privet {
    text-decoration: none;
    border: 0px;
    border-radius: 0px;
    background-color: #e6b89c;
}
